:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121; 
    --secondary-color: #2F303A;
    --third-color: #AFB1B8;
    --fourth-color: #2196F3;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul, 
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* ==== Global ==== */
.container{
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.block-background {
    background-color: var(--secondary-color);
    
}

.buttons {
    background:#F5F4FA;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
}
.buttons:focus,
.buttons:hover {
    background: var(--fourth-color);
    border-color: var(--fourth-color);
    color: #FFF;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button–p {
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
}
.button–p:hover,
.button–p:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);            
}

.decoration {
    text-decoration: none;
}

.list{
    list-style: none;
}

.logo {
    font-family: var(--secondary-font);
    color:#212121;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;  
}
.logo-web {
    color:var(--fourth-color);
}

.navigation {
    color: #212121;
}
.navigation:hover,
.navigation:focus {
    color: var(--fourth-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==== END Global ==== */



/* ==== Header ==== */
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contacts {
    color: #757575;
    fill: #757575;
}
.contacts:hover,
.contacts:focus {
    color: var(--fourth-color);
    fill: var(--fourth-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-logo {
    padding-right: 10px;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
}

.header-address {
    margin-left: auto;
    margin-right: 50px;
}

.header-button {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
}

.header-logo {
    margin-right: 93px;
}

.header-nav{
    display: flex;
    align-items: center;
}
.header-nav-item:not(:last-child){
    margin-right: 46px;
}

.header-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), 
    url(../images/index/hero/Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFF;

}

.underline {
    position: relative;
}
.underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 53px;
    height: 4px;
    background: var(--fourth-color);
    border-radius: 2px;
    top: 46px;
    left: 3px;
}

.portfolio-underline {
    position: relative;
}
.portfolio-underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 58px;
    height: 4px;
    background: var(--fourth-color);
    border-radius: 2px;
    top: 46px;
    left: 3px;
}

/* ==== END Header ==== */



/* ==== Main ==== */

.advantage {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantage-icons {
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
}
.advantage-list{
    display: flex;
}
.advantage-list-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
}
.advantage-list-item:not(:last-child) {
    margin-right: 30px;
}
.advantage.text {
    line-height: 1.71;
    color: #757575;
    font-weight: normal;
}

.content {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.content-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 94px;
}
.content-list-item {
    position: relative;
    z-index: 0;
}
.content-list-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    top: 224px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: rgba(47, 48, 58, 0.8);
    z-index: 2;
}

.customers {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--third-color);
    fill: var(--third-color);
}
.customers-list:not(:last-child) {
    margin-right: 30px;
}
.customers-list:hover,
.customers-list:focus {
    fill: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    cursor: pointer;
}
.portfolio_projects-img {
    position: relative;
    width: 370px;
    height: 294px;
    z-index: 1;
}
.portfolio_projects-box {
    position: absolute;
    width: 370px;
    height: 294px;
    z-index: 2;
    overflow: hidden;
}
.portfolio_projects-box:hover 
.portfolio_projects-overly {
    transform: translateY(0);
}
.portfolio_projects-overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_projects-overly-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 301px;
    height: 196px;

    font-size: 18px;
    font-weight: normal;
    line-height: 1.55;
    color: #FFF;

}
.portfolio_projects-list{
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
}
.portfolio_projects-list:focus,
.portfolio_projects-list:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);            
}
.portfolio_projects-list:nth-child(n+4) {
    margin-top: 30px;
}
.portfolio_projects-list-text{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 5;
}
.projects {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
}
.projects-group {
    font-size: 16px;
    line-height: 1.875;
    color: #757575; 
    text-align: center;
}

.portfolio_list {
    display: flex;
    justify-content: center;

}
.portfolio_list-button {
    height: 38px;
    border-radius: 4px;
}


.p_b1{
    width: 121px;
}
.p_b2{
    width: 93px;
}
.p_b3{
    width: 114px;
}
.p_b4{
    width: 91px;
}

.portfolio_list-item:not(:last-child) {
    padding-right: 8px;
}

.spacing {
    letter-spacing: 0.03em;
}

.staff {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center; 
}
.staff-color {
    background-color: #F5F4FA;
}
.staf-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.staf-list-item {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);            
}
.staf-list-item_h {
    padding-top: 50px;
    padding-bottom: 10px;
}

.staff-socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.staff-socialmedia-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.staff-socialmedia-icon:not(:last-child) {
    margin-right: 10px;
}
.staff-socialmedia-icon:hover,
.staff-socialmedia-icon:focus {
    fill: #FFF;
    background-color: var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.staff-work {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    color: #757575;
    padding-bottom: 16px;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    font-weight: 400;
}
/* ==== END Main ==== */



/* ==== Footer === */
.contacts-footer {
    color: #FFF;
    background: var(--secondary-color);
}
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--fourth-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.color-footer {
    color: rgba(255, 255, 255, 0.6);
}

.footer-div {
    margin-right: 50px;
}
.footer-div2 {
    margin-right: 58px;
}

.footer-flex {
    display: flex;
    flex-direction: row;
}

.footer-news {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background: #2F303A;

    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}
.footer-news:focus {
    color: #FFF;
}
.footer-news-button {
    width: 200px;
    height: 50px;
    background: var(--fourth-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding-left: 42px;
    margin-top: 36px;

    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    cursor: pointer;
}
.footer-news-button-send {
    position: relative;
    margin-left: 12px;
}
.footer-news-button-send2 {
    position: absolute;
    top: 59%;
    left: 75%;
}

.footer-socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-socialmedia-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-socialmedia-icon:not(:last-child) {
    margin-right: 10px;
}
.footer-socialmedia-icon:hover,
.footer-socialmedia-icon:focus {
    background-color: var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-footer:not(:last-child) {
    padding-bottom: 9px;
}

.logo-studio-footer {
    color: #FFF;
    background: var(--secondary-color);
    display: flex;
    padding-bottom: 20px;
}

.section-footer {
    padding-bottom: 60px;
    padding-top: 60px;
}

.text-footer {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
/* ==== END Footer ==== */

/* === Modal window === */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);

    transition: opacity 250ms cubic-bezier(.2,.71,.71,.38),
                visibility 250ms cubic-bezier(.2,.71,.71,.38);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-form {
    width: 448px;
    margin: 40px auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-color);
    margin: 0 auto 2px;
}
.modal-label {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    margin-top: 10px;
}
.modal-input {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
}
.modal-input:focus{
    border-color: var(--fourth-color);
}
.modal-input:focus + .modal-svg-icon {
    fill: #2196F3;
}

.modal-svg {
   position: relative;
   width: 100%; 
}
.modal-svg-icon {
    position: absolute;
    top: 11px;
    left: 15px;
}

.modal-textarea {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    outline: none;
} 
.modal-textarea:focus {
    border-color: var(--fourth-color);
}

.modal-check-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.modal-disclaimer-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal-check-label {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    margin-left: 5px;
}
.modal-check-label::before {
    position: absolute;
    display: block;
    left: -5%;
    top: 7%;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}
.modal-form-policy:checked + .modal-check-label::before {
    position: absolute;
    background-color: var(--fourth-color);
    border-color: var(--fourth-color);
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-policy {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: underline;
    color: var(--fourth-color);
}
.modal-button {
    background: var(--fourth-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    width: 200px;
    height: 50px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    cursor: pointer;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/* === END Modal window === */